<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoma.sys.mapper.SysRouteMapper">

    <resultMap id="BaseResultMap" type="com.xiaoma.sys.entity.SysRouteEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="routeName" column="route_name" jdbcType="VARCHAR"/>
            <result property="routeValue" column="route_value" jdbcType="VARCHAR"/>
            <result property="routeComponent" column="route_component" jdbcType="VARCHAR"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleteStatus" column="delete_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,route_name,route_value,
        route_component,creator,create_time,
        updater,update_time,delete_status
    </sql>
</mapper>
